# Variables de la App
APP_PORT=8000
APP_MASTER_KEY="tu_llave_maestra_aqui"

# Keycloak
KEYCLOAK_SERVER_URL="https://tu_servidor_keycloak"
KEYCLOAK_REALM="tu_realm"
KEYCLOAK_CLIENT_ID="tu_client_id"
REDIRECT_URI="https://bitacora-diaria.ctldocbaires.com/callback"

# Encriptados
ENCRYPTED_DB_URL="tu_db_url_encriptada"
ENCRYPTED_KEYCLOAK_SECRET="tu_secreto_keycloak_encriptado"

# TurboSMTP
TURBOSMTP_CONSUMER_KEY="b0f6b0e563edc3de6d1e"
TURBOSMTP_CONSUMER_SECRET="pzasQA0Pt9f3XgJCm5oY"

# Teams Webhook
TEAMS_WEBHOOK_URL="https://default0abdd59413d3401ea70419830f19e8.88.environment.api.powerplatform.com:443/powerautomate/automations/direct/cu/03/workflows/e8aba3cc890c44f1aa20fe0ea7472b9f/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=MDxWEsPjh5WSJvIdZyei9BuLKzILFT41W9vW6pK8xCA"
